app {
    display: grid;
}
body {
    background-image: url('./components/image/bookshelve.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: visible;
    overflow: visible;
    width: 1000px;
    background-size: cover;
    background-position: center center;
    overflow: -moz-hidden-unscrollable;
    display: flex;
   
}
.book{
    display:flex;
    background-size: cover;
    background-position: center center;
    overflow: -moz-hidden-unscrollable;
    width: 100px;
    height: 100px;
    padding: 15px;
    flex-direction: column;
   
}
.note{
    align-items: center;
    margin-left: 50px;
}
img {
    width: 100%;
    height: 100%;
}
.container {
    display:flex;
    background-size: cover;
    background-position: center center;
    overflow: -moz-hidden-unscrollable;
    width: 100px;
    height: 100px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}
.favorite{
    width: 50%;
    height: 50%;
    color: darkred;
}


.ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
}
.detail-image{
    width: 50%;
    height: 50%;
}
 p{
    color: red;
} 
